form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  input {
    border: none;
    background-color: transparent;
    border-bottom: 2px solid darkblue;
    outline: none;
    margin-left: 5px;
  }
  
  input[type="submit"] {
    width: 200px;
    border: none;
    padding: 10px;
    border-radius: 15px;
    background-color: rgba(73, 196, 249, 1);
    font-size: large;
    margin: 20px;
    transition: background-color 0.2s ease-in;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  input[type="submit"]:hover {
    background-color: darkblue;
  }
  
  input[type="submit"]:active {
    transition: background-color 0.1s;
    background-color: rgba(0, 0, 139, 0.636);
  }