* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: rgb(124,250,247);
    background: linear-gradient(0deg, rgba(124,250,247,1) 40%, rgba(73,196,249,1) 100%);
    min-height: 60px;
    z-index: 99;
}
label {
    position: relative;
    min-width: 150px;
    padding: 10px 0px;
}
label>ul {
    display: none;
    position:absolute;
    background-color:rgba(124,250,247,1);
    top: 35px;
    border-radius: 0 0 10px 10px;
    z-index: 100;
}
label>ul>li {
    margin-top: 10px;
    padding:5px 10px;
    transition: 0.2s ease-in;
}
label>ul>li:hover {
    background-color: rgba(73,196,249,1);
}
label:hover>ul {
    display: block;
}